*{
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: black;
}
body{
    background-color: #d2d7f0;
}
.navbar button{
    margin: 30px 50px;
    background: #f9b8a2;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    width: 300px;
    height: 50px;
    color: black;
}
.navbar button:hover{
    cursor: pointer;
    background-color: #dd5528;
    color: #fff;
}

.pic{
    display: flex;
    width: 70%;
    margin: 50px auto;
}
.pic h3{
    margin-top: 50px;
    margin-left: 30px;
}
header .info ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: center;
}
.info ul li{
    margin-left: 20px;
    margin-right: 20px;
}
.resume{
    width: 70%;
    margin: 30px auto;
}
.resume .title{
    text-decoration: wavy;
    color: #dd5528;
}
.resume .intro{
    width: 80%;
    margin: 10px auto;
    text-align: center;
}
.resume ul{
    width: 80%;
    margin: 30px auto 30px auto; 
}
hr{
    width: 80%;
}

.book h3{
    margin-left: 200px;
    color: #dd5528;
    text-decoration: double;
    margin-top: 60px;
}
.book form{
    width: 50%;
    margin: 50px auto 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.book form input{
    width: 300px;
}
.book form button{
    background-color:  #ff8056;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 10%;
    height: 35px;
    width: 200px;
    margin: 10px 30px 10px 10px;
    border-color: white;
}
.book form button:hover{
    cursor: pointer;
    background-color: #dd5528;
}
footer{
    text-align: center;
}
.ws{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 65%;
    margin: 30px auto;
}
.ws .ca{
    border-radius: 5%;
    margin: 50px 20px;
}
.ws .ca .cb{
    display: flex;
    width: 80%;
    margin: 10px auto;
    justify-content: space-between;
}
.ws .ca .cb button{
    background-color:  #ff8056;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 10%;
    height: 35px;
    margin: 10px 30px 10px 10px;
    border-color: white;
}
.ws.ca button:hover{
    cursor: pointer;
    background-color: #dd5528;
}
